.container {
    display: flex;
}

.container div {
    width: 30px;
    height: 30px;
    background-color: pink;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.container div:hover {
    background-color: black;
}